#box1 {
background-color: blue;
width: 100px;
height: 100px;
}

#box2 {
background-color: yellow;
width: 100px;
height: 100px;
}

#box3 {
background-color: white;
width: 100px;
height: 100px;
}

#displaydiv {
width: 500px;
height: 500px;
background-color: lightblue;
}

#box11 {
background-color: yellow;
width: 100px;
height: 100px;
}